# Git
.git/
# VS Code
.vscode/
# Python cache og bygg
__pycache__/
*.py[cod]
*$py.class
*.pyc
# Azure Storage Emulator
__azurite_db_*__.json
__blobstorage__/
__queuestorage__/
# Lokale settings og miljøfiler
local.settings.json
.env
# Virtuelt miljø
venv/
.python_packages/
# Testmapper
test/
tests/
# Coverage-rapporter
.coverage
coverage/
# Distribusjon/pakker
dist/
build/
# Loggfiler
logs/
# Node-moduler (hvis aktuelt)
node_modules/
# dbt
dbt_packages
logs/dbt.log
# Andre IDE-filer
*.suo
*.user
*.vs/
profile.xml

# Default .gitignore content added by dbt Cloud# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
*logs/
# end dbt Cloud content
